
#formulario h2{
    text-align: center;
    background-color: rgb(167, 217, 243);
    padding: 10px;
}
#formulario form{
    background-color: rgb(167, 217, 243);
    width: 95%;
    margin: auto;
    max-width: 500px;
}
.contenedor-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 6px 10px;
    padding: 10px 20px;
}
.contenedor-input input{
    margin-top: 15px;
}
.contenedor-input textarea{
    margin-top: 15px;
}
.col-p{
    width: 45%;
}
.col-g{
    width: 95%;
}